body {

    background-color: darkgrey;
}

.Position {
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top:150px;
}



.ToolB{
    background-color: rgb(226, 89, 9);
    position: fixed;
    right: 300px;
    top: 300px;
    border-radius: 10px 10px 10px 10px;
    padding: 20px 20px 10px 20px;
    }
    
    .ToolB a{
        color: white;
        text-decoration: none;
        font-size: small;
        padding: 5px 10px;
    }
    
    a:hover{
    color: rgb(59, 221, 221);
    }
    
    a.activepage{
        color: rgb(4, 5, 5);
        font-weight: bolder;
    }
    
    #navi1{
    border-right: solid 1px white;
    font-size: 18px;
    }
    
    #navi2{
    
    border-right: solid 1px white;
    font-size: 18px;
    }

    #navi3{
        border-right: solid 1px white;
        font-size: 18px;
        }
        
        #navi4{
        border-right: solid 1px white;
        font-size: 18px;
        }

        #navi5{
            font-size: 18px;
            
            }
            
